<div class="table-personas">
	<div class="row">
		<div class="col-md-12">			
			<table class="table table-hover table-bordered">
			  <thead>
				<tr>
				  <th class="text-center" scope="col">id</th>
				  <th class="text-center" scope="col">Nombres</th>
				  <th class="text-center" scope="col">Apellidos</th>
				  <th class="text-center" scope="col">Cumpleaños</th>
				  <th class="text-center" scope="col">Acciones</th>
				</tr>
			  </thead>
			  <tbody>
				<tr *ngFor="let persona of personaPaginadas | filterPersonas:filtro; let index = index">
					<th class="text-center" scope="row">{{getIndexByPagination(index) + 1}}</th>
					<td>{{persona.nombre}}</td>
					<td>{{persona.apellidos}}</td>
					<td class="text-center">{{persona.fechaNacimiento | date:'dd-MM-yyyy'}}</td>
					<td class="text-center">
						<button-edit (click)="onEdit.emit(getIndexByPagination(index));"></button-edit>&nbsp;
						<button-delete (click)="deletePersona(index); openModal(templateDelete)"></button-delete>
					</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<pagination 
				class="float-right" 
				previousText="&lsaquo;" 
				nextText="&rsaquo;" 
				[itemsPerPage]="pagination.itemsPerPage" 
				[totalItems]="personas.length" 
				(pageChanged)="pageChanged($event)"
			></pagination>
		</div>
	</div>
		
	<ng-template #templateDelete>
		<div class="modal-header">
			<h4 class="modal-title pull-left">Eliminar</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="alert alert-danger" role="alert">
				¿Está seguro que desea eliminar?
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light" (click)="closeModal()">
				Cerrar
			</button>
			<button type="button" class="btn btn-primary" (click)="confirmarDelete()" >
				Confirmar
			</button>
		</div>
	</ng-template>
</div>