<div class="content">
	<form class="form-horizontal">
	
		<filter-personas 
			[(filtro)]="filtro" 
			(onNew)="open.formPersona=true"
		></filter-personas>
		
		<form-persona 
			[(personas)]="personas" 
			(onConfirm)="reload.tablePersonas=true" 
			[(open)]="open.formPersona" 
			[indexPersonaSeleccionada]="indexPersonaSeleccionada"
		></form-persona>
				
		<table-personas 
			[(personas)]="personas" 
			[filtro]="filtro" 
			[(reload)]="reload.tablePersonas"
			(onEdit)="indexPersonaSeleccionada=$event; open.formPersona=true;"
		></table-personas>
				
	</form>
</div>